.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__title {
  margin: 0;
}

.header__buttons {
  display: flex;
  gap: 42px;
}
.header__homebutton {
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}
