.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 104px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #1a1b22;
}

.footer__info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__copyright,
.footer__text {
  margin: 0;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  font-size: 24px;
  color: #1a1b22;
  transition: opacity 0.3s;
}

.footer__icon:hover {
  opacity: 0.7;
}
