.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  min-height: 500px;
  padding: 40px 20px;
}

.main__search {
  position: relative;
  width: 100%;
  max-width: 608px;
  margin-top: 88px;
}

.main__search-input {
  width: 100%;
  height: 64px;
  border-radius: 100px;
  border: none;
  padding: 0 140px 0 24px;
  font-size: 16px;
  box-sizing: border-box;
}

.main__search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 64px;
  width: 168px;
  padding: 0 32px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
