.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.page__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f5f6f7;
  transition: background-color 0.5s ease;
}

.page__content_type_home {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/mainbackground.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.page__content > * {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 430px) {
  .page__content > * {
    max-width: 1024px;
    margin: 0 auto;
  }
}
