.search-form {
  position: relative;
  width: 100%;
  max-width: 608px;
  margin-top: 88px;
}

.search-form__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  border: none;
  padding: 0 140px 0 24px;
  box-sizing: border-box;
}

.search-form__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 64px;
  width: 168px;
  padding: 0 32px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: white;
  cursor: pointer;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-form__input {
    width: 452px;
    height: 56px;
  }

  .search-form__button {
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 430px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .search-form__input {
    width: 100%;
    max-width: 288px;
    min-width: 288px;
    height: 56px;
    padding: 0 24px;
    margin-bottom: 16px;
  }

  .search-form__button {
    position: relative;
    width: 100%;
    max-width: 288px;
    min-width: 288px;
    height: 56px;
  }
}

.search-form__error {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ff0000;
  display: block;
  margin-top: 8px;
  padding-left: 24px;
}

@media screen and (max-width: 380px) {
  .search-form {
    margin-top: 60px;
  }
}
